:root{
  --black-color: #3e4144;
  --white-color: aliceblue;
}

table {
    border-collapse: collapse;
    border: 2px solid #25292d;
  }
  
  td {
    background-color: green;
  }
  
  tr:nth-child(even) > td:nth-child(odd) {
    background-color: var(--white-color);
  }
  
  tr:nth-child(odd) > td:nth-child(even) {
    background-color: var(--white-color);
  }
  
  tr:nth-child(odd) > td:nth-child(odd) {
    background-color: var(--black-color);
  }
  
  tr:nth-child(even) > td:nth-child(even) {
    background-color: var(--black-color);
  }
  
  td {
    /* background-image: url('../assets/black_queen.svg'); */
    width: 4rem;
    height: 4rem;
    transition: all ease-in 0.06s;
    font-size: 3rem;
    text-align: center;
  }
  
  td.locked {
    scale: 100%;
  }
  
  tr:nth-child(odd) > td.queen:nth-child(odd),
  tr:nth-child(even) > td.queen:nth-child(even) {
    background-image: url("../assets/white_queen.svg");
  }
  
  tr:nth-child(odd) > td.queen:nth-child(even),
  tr:nth-child(even) > td.queen:nth-child(odd) {
    background-image: url("../assets/black_queen.svg");
  }
  
  tr:first-child > td,
  tr:last-child > td,
  td:first-child,
  td:last-child {
    background-color: red !important;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }

  tr:nth-child(odd) > td:nth-child(odd) > span.white,  tr:nth-child(even) > td:nth-child(even) > span.white {
    display: inline-block;
    background-color: white; /* Color you want to fill inside */
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text;
    color: transparent; /* Make the text transparent */
  }
  